// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$navy: #0C233F;
$gold: #C7972B;
$blue: #0069AA;
$gray: #e6e7e8;
$red: #bf311a;
$green: #00853f;
$yellow: #f3d336;

img {
	border-radius: 5px;
}

h3, h4 {
	color: $gold;
	text-align: center;
	width: 100%;
}

ion-content {
	background-color: $navy !important;
}

.sideMenu {
	/*background-color: $blue !important;*/
	background-image: url('../assets/bluePattern.png');
	background-size: cover;
}

.menuButton {
	background-color: $gray !important;
	color: $navy !important;
	height: 50px;
}

ion-title, .header-title {
	color: $navy !important;
}

p {
	color: $gray;
}
