<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ACE Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<img src="../../assets/aceHome.jpg">
	<div padding>
		<h4>Alliance for Catholic Education</h4>
	</div>
	<!--
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>
  -->

  <!--<button ion-button secondary menuToggle>Menu</button>-->
  <!--
  <div style="align: center; width: 100%; margin: 0 auto;">
	  <div style="display: inline-block;">
		  <button ion-button secondary ng-click="">Teaching</button>
		  <button ion-button primary ng-click="">Spirituality</button>
		  <button ion-button primary ng-click="">Community</button>
	  </div>
  </div>
  -->
</ion-content>
